<div class="signup-form">
    <div class="col-7">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <h2>Izmeni profil</h2>
      <div class="form-group">
        <label>Ime:</label>
        <input type="text" id="firstname" value="{{user.Firstname}}" formControlName="firstname" required class="form-control" />
          <div *ngIf="f.firstname.invalid && f.firstname.touched" class="alert alert-danger">
            <ng-container *ngIf="f.firstname.errors.required">
              <p>Name is required.</p>
            </ng-container>
          </div>
       </div>
  
        <div class="form-group"> 
          <label>Prezime:</label>   
           <input type="text" id="secondname" value ="{{user.Secondname}}" formControlName="secondname" required class="form-control" />
              <div *ngIf="f.secondname.invalid && (f.secondname.touched)" class="alert alert-danger">
                <ng-container *ngIf="f.secondname.errors.required">
                  <p>Surname is required.</p>
                </ng-container>
              </div>
        </div>
  
        <div class="form-group">
            <label>Adresa:</label>
            <input type="text" id="address" value ="{{user.Address}}" formControlName="address" required class="form-control" />
              <div *ngIf="f.address.invalid && f.address.touched " class="alert alert-danger">
                <ng-container *ngIf="f.address.errors.required">
                  <p>Address is required.</p>
                 </ng-container>
              </div>
        </div>
  
        <div class="form-group">
            <label>Email:</label>
            <input type="text" value ="{{user.Email}}" formControlName="email" required class="form-control" />
              <div *ngIf="f.email.invalid && f.email.touched" class="alert alert-danger">
                <div *ngIf="f.email.errors.required">
                  <p>Email is required.</p>
                </div>
                <div *ngIf="f.email.errors.email">
                  <p>Please enter valid email address.</p>
                </div>
              </div>
        </div>
  
      <div class="form-group">
          <label>Username:</label>
          <input type="text" id="username" value ="{{user.Username}}" formControlName="username" required class="form-control">
            <div *ngIf="f.username.invalid && f.username.touched" class="alert alert-danger">
              <ng-container *ngIf="f.username.errors.required">
                <p>Username is required.</p>
              </ng-container>
              <ng-container *ngIf="f.username.errors.minlength">
                 <p>Username must be at least 6 characters long.</p>
              </ng-container>
           </div>
      </div>
      <div class="form-group">
          <label>Datum rodjenja:</label>
            <input type="date" min="1900-01-01" max="2019-01-01" value="{{date}}" id="dateOfBirth" formControlName="dateOfBirth" placeholder="Date of Birth" class="form-control" style="margin-left: 20px; width: 250px" />
      </div>
              
          <div class="form-group">
              <label>Tip korisnika:</label>
              <div class="row">
                <span>Regularan Korisnik</span>
                <input type="radio" name="type" [(ngModel)]="user.UserType" value="Regularna" formControlName="type" class="form-control" />
            </div>
              <div class="row">
                <span>Penzioner</span>
                <input type="radio" name="type" [(ngModel)]="user.UserType" value="Penzioner" formControlName="type" class="form-control" />
            </div>
              <div class="row">
                <span>Djak</span>
                <input type="radio" name="type"  [(ngModel)]="user.UserType"  value="Djak" formControlName="type" class="form-control" />
              </div>
          </div>
          <div class="form-group">
              <div class=row>
                  <div *ngIf="editForm.get('type').value != 'Regular'" class="form-group row">
                    <img *ngIf="mySrc!=undefined && mySrc!=null" [src]="mySrc"
                    style="max-width: 200px; max-height: 200px;" class="btn-md img-fluid img-thumbnail">
                    <button (click)="NovaSlika($event)" [disabled]="novaSlika">Ucitaj novu sliku</button>
                    <input *ngIf="novaSlika" type="file" value="" (change)="onFileSelected($event)" />
                    </div>
              </div>
            </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="editForm.invalid">Izmeni</button>
          </div>
          
    </form>
    </div>
  </div>