<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Autobusi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/red-voznje">Red Voznje</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cenovnik">Cenovnik</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="IsAdmin" routerLink="/logreg/dodajliniju">Administratorski prozor</a>
      </li>
          <li class="nav-item" *ngIf="IsLoggedIn && !IsAdmin">
            <a class="nav-link" routerLink="/karteprikaz">Moje karte</a>
          </li>
    </ul>
          <ul class="navbar-nav ml-auto mr-1">
              <li class="nav-item" *ngIf="!IsLoggedIn">
                  <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item" *ngIf="!IsLoggedIn">
                    <a class="nav-link" routerLink="/registracija">Registracija</a>
                  </li>
              <li class="nav-item"  *ngIf="IsLoggedIn && !IsAdmin">
                <a class="nav-link" routerLink="/editprofile">Uredi profil</a>
              </li>    
              <li class="nav-item"  *ngIf="IsLoggedIn && !IsAdmin">
                <a class="nav-link" routerLink="/changpass">Promeni sifru </a>
              </li>  
            <li class="nav-item"><button *ngIf="IsLoggedIn" (click)="LogOut()" class="btn btn-light">Odjava</button></li>
        </ul>
</nav>