<div class="form">
    <div class="col-7">
    <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
      <h2>Izmeni lozinku</h2>
      <div class="form-group">
          <input type="password" formControlName="oldPassword" placeholder="Old Password" required class="form-control" />
          <div *ngIf="f.oldPassword.invalid && (f.oldPassword.dirty || f.oldPassword.touched)" class="alert alert-danger">
              <ng-container *ngIf="f.oldPassword.errors.required">
                Please enter your old password.
              </ng-container>
              <ng-container *ngIf="f.oldPassword.errors.minlength">
                <p>Password must be at least 6 characters long.</p>
              </ng-container>
              <ng-container *ngIf="f.oldPassword.errors.pattern">
                <p>Passwords must have at least one non letter or digit character. Passwords must have at least one digit ('0'-'9'). Passwords must have at least one uppercase ('A'-'Z').</p>
              </ng-container>
            </div>
          <input type="password" formControlName="password" placeholder="Password" required class="form-control">
          <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="alert alert-danger">
            <ng-container *ngIf="f.password.errors.required">
              Password is required.
            </ng-container>
            <ng-container *ngIf="f.password.errors.minlength">
              <p>Password must be at least 6 characters long.</p>
            </ng-container>
            <ng-container *ngIf="f.password.errors.pattern">
              <p>Passwords must have at least one non letter or digit character. Passwords must have at least one digit ('0'-'9'). Passwords must have at least one uppercase ('A'-'Z').</p>
            </ng-container>
          </div>
          <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" required class="form-control" />
          <div *ngIf="changePassForm.errors?.doesntMatch && (f.confirmPassword.dirty || f.confirmPassword.touched)" class="alert alert-danger">
            <p>Doesnt match with password.</p>
          </div>
      </div>

      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="changePassForm.invalid" >Izmeni</button>
        </div>
      </form>
    </div>
</div>