<!--<form  [formGroup]="profileForm">
  <label class="label label-default">Username: 
    <input type="text" formControlName="username" required>
  </label>
</form>  -->
<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="dodajliniju">Dodaj liniju</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="urediliniju">Uredi liniju</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="dodajstanicu">Dodaj stanicu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="uredistanicu">Izmeni stanicu</a>
      </li>
      <li>
        <a class="nav-link" routerLink="dodajpolazak">Dodaj polazak</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
