<div class="container">
  <h2 class="alert alert-danger mt-5" *ngIf="!role && (tipKarte !== 'Vremenska' || tipPopusta !== 'Regularna')">Neregistrovani korisnik moze da kupi samo regularnu vremenku kartu!</h2>
  <form *ngIf="!role && tipKarte === 'Vremenska' && tipPopusta === 'Regularna'" [formGroup]="kartaForm">
    
    <div class="form-group" *ngIf="!role && tipKarte === 'Vremenska' && tipPopusta === 'Regularna'">
        <label> Unestie email adresu na koju zelite da stigne karta:</label>
        <input type="email" class="form-control" id="email" formControlName="karta">
        <a routerLink="/red-voznje">
        <!--<button (click)="kupiKartu()" class="btn btn-primary" router-lin>Kupi</button>
        <div id="paypal-checkout-btn"></div>-->
        </a>
      </div>
   </form>
  <div *ngIf = "role">
      <h3>Podaci o karti:</h3>
      <label class="alert alert-inforamtion">Tip karte:{{tipKarte}}</label>
      <label class="alert alert-inforamtion">Tip popusta:{{tipPopusta}}</label>
      <label class="alert alert-inforamtion">Cena karte:{{cena}}</label>
      <!--<button (click)="kupiKartuLog()" class="btn btn-primary">Potvrdi kupovinu</button>-->
      <!--<div id="paypal-checkout-btn"></div>-->
  </div>
  <div id="paypal-checkout-btn"></div>
</div>