<div class="container">
  <div class = "col-7">
    <h2>Uredjivanje linije</h2>
<form [formGroup]="linijaForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label> Oznaka Linije: </label>
    <select class="form-control" formControlName="linija" required id="linija" (change)="getAll()" > 
      <option *ngFor="let l of linije " [value] = l.OznakaLinije>{{l.OznakaLinije}}</option>
    </select>
  </div>
</form>
<label class="label label-default" *ngIf="polascilinije !== null"> Polasci linije </label>
<ul class="list-group">
  <li *ngFor="let lin of polascilinije" class="list-group-item" (click)="izbrisiPolazak(lin)" >
    <span>Dan:  {{lin.Dan}}</span>   Vreme polaska  {{lin.VremePolaska}}
  </li>
</ul>
<label class="label label-default" *ngIf = "polasciVanLinije !== null"> Slobodni polasci </label>
<ul class="list-group">
  <li *ngFor="let lin of polasciVanLinije" class="list-group-item" (click)="dodajPolazak(lin)" >
    <span>Dan:  {{lin.Dan}}</span>   Vreme polaska  {{lin.VremePolaska}}
  </li>
</ul>
<label class="label label-default" *ngIf="staniceLinije !== null">  Stanice linije </label>
<ul class="list-group">
  <li *ngFor="let st of staniceLinije" class="list-group-item" (click)="izbrisiStanicu(st)" >
    <span>Adresa stanice:  {{st.label}}</span>   Naziv stanice:  {{st.title}}
  </li>
</ul>
<label class="label label-default" *ngIf="staniceVanLinije !== null"> Slobodne stanice </label>
<ul class="list-group">
  <li *ngFor="let st of staniceVanLinije" class="list-group-item" (click)="dodajStanicu(st)" >
    <span>Adresa stanice:  {{st.label}}</span>   Naziv stanice:  {{st.title}}
  </li>
</ul>
<p>
  <button (click) = "updateLinija()" class="btn btn-primary btn-lg btn-block" [disabled]="!lin">Update Liniju</button>
</p>
<p>
  <button (click) = "deleteLinija()" class="btn btn-primary btn-lg btn-block" [disabled]="!lin">Izbrisi Liniju</button>
</p>
</div>
</div>