<div class="container">
  <div class = "col-8">
<p>
  <!-- Kreiramo mapu -->
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="12" (mapClick)="placeMarker($event)">  

    <agm-marker *ngIf="markerInfo != null" [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [title]="markerInfo.title"
    [label]="markerInfo.label" [iconUrl]="url">

      <!-- Svakom markeru dodajemo info-window (Nije obavezno!)-->
    </agm-marker>

    <!--<agm-polyline [strokeColor]="polyline.color">
         <agm-polyline-point *ngFor="let point of polyline.path" [latitude]="point.latitude" [longitude]="point.longitude">
         </agm-polyline-point>
    </agm-polyline>-->

    <agm-marker *ngFor="let point of polyline.path" [latitude]="point.latitude" [longitude]="point.longitude" [iconUrl]="polyline.icon">
    </agm-marker>

  </agm-map>
</p>
<form [formGroup]="StationForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
  <label class="label">
      Ime stanice </label>
      <input type="text" class="form-control" formControlName="stationName" required>
  </div>
  <div class="form-group">
  <label class="label"> 
      Adresa</label>
      <input type = "text" class ="form-control"formControlName="stationAddres" required>
</div>
</form>
<p>
  <button (click) = "addStanicu()" class="btn btn-primary btn-lg btn-block" [disabled]="StanicaForm.invalid">Dodaj stanicu</button>
</p>
</div>
</div>