<form [formGroup]="polazakForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
  <label>
    Sati:
    <input type="text" class= "form-control"formControlName="sati" required placeholder="Uneti casove 24h format">
  </label>
  </div>

  <div class="form-group">
    <label>
      Minuti
      <input type="text" class= "form-control"formControlName="minuti" required placeholder="Uneti minute">
    </label>
  </div>
</form>
<p>
  <button (click) = "dodajLiniju()" class="btn btn-primary">Dodaj Liniju</button>
</p>
