<div class="col-5"> 
<form [formGroup]="tipLinijeForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label> Tip Linije: </label>
    <select class="form-control" formControlName="tipLin" required id="tipLin" (change)="getLinijaTip()"> 
      <option *ngFor="let l of tipLinije " [value] = l>{{l}}</option>
    </select>

  </div>
  <div class="form-group">
      <label> Dan u nedelji </label>
      <select class="form-control" formControlName="dan" required id="dan" (change)="getPolazaksdan()"> 
        <option *ngFor="let r of radniDan " [value] = r>{{r}}</option>
      </select>
  
  </div>
</form>
</div>
<ul class="list-group">
  <li *ngFor="let lin of linije" class="list-group-item"  (click)="getPolazak(lin.OznakaLinije)">
    <span> Broj:  {{lin.OznakaLinije}}</span>   TipLinije  {{lin.TipLinije}}
  </li>
</ul>
<ul class="list-group">
  <label *ngIf="linija !== null"> Polasci linije  {{linija}}</label>
  <li *ngFor="let lin of polasci" class="list-group-item" >
    <span> Dan:  {{lin.Dan}}</span>   Vreme polaska  {{lin.VremePolaska}}
  </li>
</ul>
