<div class="container">
  <h2 class="text-info">Izaberite liniju za prikaz trenutne lokacije autobusa</h2>
  <div class="form-group mt-5">
  <form #f="ngForm" >
    <select class="form-group bg-info" size="5" name="selectedLinija" ngModel class="form-control" (change)="prikaziBus($event.target.value)">
      <option *ngFor="let linija of linije">{{linija.OznakaLinije}}</option>
    </select>
  </form>
</div>
  <agm-map *ngIf="selectedLinija" [latitude]="45.242268" [longitude]="19.842954" [zoom]="14">  

    <agm-marker *ngFor="let marker of markeri" [latitude]="marker.location.latitude" [longitude]="marker.location.longitude" [iconUrl]="marker.icon" [title]="marker.title" [label]="marker.label">
    </agm-marker>

    <agm-marker *ngIf="autobus" [latitude]="autobus.location.latitude" [longitude]="autobus.location.longitude" [iconUrl]="url">
    </agm-marker>

  </agm-map>

</div>